{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        {{ form_start(form, {'action' : path('task_create')}) }}

        {{ form_row(form.title, {'label': 'Titre', 'attr': {'placeholder': 'Entrez le titre de la tâche'}}) }}
        {{ form_row(form.content, {'label': 'Contenu', 'attr': {'placeholder': 'Entrez le contenu de la tâche'}}) }}

            <div><button type="submit" class="btn btn-success pull-right">Ajouter</button></div>
        {{ form_end(form) }}

        <a href="{{ path('task_todo_list') }}" class="btn btn-primary">Retour à la liste des tâches</a>
    </div>
{% endblock %}
